body {
	align: center;
	text-align: center;
	margin-bottom: 100px;
}

ul {
  list-style: none;
  padding: 0;
  width: 600px;
  margin: auto;
}

li {
  background: #eee;
  margin: 1px;
  padding: 5px 10px;
  font-size: 16pt;
  font-weight: 600;
  text-align: left;
}

li img {
	position: relative;
}

radiogroup input {
	height: 22px;
	width: 22px;
	font-size: 12pt;
	width: 40px;
}

.sortable-ghost {
  opacity: .6;
}

.belowtheline, .abovetheline, .notry {
	color: #e1e1e1;
	background-color: #1e1e1e;
}

input {
	height: 40px;
	width: 200px;
	font-size: 16pt;
	font-weight: 600;
	margin-bottom: 100px;
	margin-left: 100px;
}

input.submit {
	margin-top: 50px;
}

div.submitDiv {
	margin-top: 50px;
}

input.costvalue {
	width: 50px;
	height: 40px;
	margin-bottom: 40px;
}

input.sortable-checkbox {
	height: 20px;
	width: 20px;
	padding: 8px;
	size: normal;
}

img.sortable-img {
	align: right;
}
h2 {
	margin-top: 30px;
}

span.orderselect {
	width: 300;
	align: left;
}

span.orderimg {
	width: 240px;
	align: right;
}

li.orderableitem span.orderableitem span.orderselect {
	float: left;
}